h1 {
    color: #0000ff;
    text-align: center;
    font-family: monospace;
    font-style: italic; 
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;

  }
  ul {
    line-height: 40px;
  }
body{
background-color: aquamarine
  }